article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

h1{
    display:flex;
    justify-content: center;
    margin-top: 100px;
    color: black;
    font-size: 400%;
}
.container{
    width: 980px;
    margin: 0 auto;
}
.imghomepod{
    width: 100%;

}
.modele{
    display:flex;
    flex-direction:column;
}
.img{
    display: flex;
    flex-direction: row;
    color: black;
   justify-content: space-evenly;
}
.img p{
    text-align: center;
}
.minititle{
    color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-content:flex-start;
    margin-top: 6%;
    text-align: center;
}
.imgboite{
    background-image:url(images/homepodd.jpg);
}
.minititle .info {
    width: 33%;
}
.minititle .info p{
    overflow: hidden;
    transition: all .3s;
}
.boite{
    color: white;
    margin-left: 60%;
    font-size: 140%;
    margin-right: 20%;
}
.titlecof{
    color:white;
    margin-top: 35%;
    font-size: 220%;
    font-weight: bold;
    margin-left: 55%;
}

.textcoffimg{
    position: relative;
    margin-top:5%;
}
.textcoff{
    position: absolute;
}
.ecolo{
    margin-left: 15%;
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 45%;
}

.colo{
    display: flex;
    flex-direction: space-between;
}
