body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "Arial", sans-serif;
    font-size: 16px;
    color: #1D1D1D;
}

.container {
    width: 960px;
    margin: 0 auto;
}

img{
    max-width: 100%;
  }


/* HEADER */

header{
    background-color: #333333;
    width: 100%;
}

header img {
    width: 36px;
}

header nav {
    width: 960px;
    height: 48px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu .container_flex {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 18px;
}

header nav ul .button_achat{
    background-color:#0171C7;
    border-radius: 15px;
    padding: 0 10px;
    color: white;
    border: none;
    text-decoration: none;
}

header nav ul .button_achat a {
    color: white;
    font-size: 18px;
}

header nav ul li a.current, nav li a:hover{
    border-bottom:1px solid #ffffff;
}

/* HEADER */

/* MAIN */

.premierPos {
    display: flex;
    justify-content: space-between;
}

.premier_titre_texte {
    margin-top: 15%;
    width: 400px;
}

.premier_titre_texte h1{
    font-size: 40px;
    line-height: 45px;
    
}

.premier_titre_texte p{
    font-size: 18px;
    line-height: 27px;
}

.premier_titre_image {
    margin-top: 5%;
    margin-right: 0;
    width: 400px;   
}

.video_pub  a {
    text-decoration: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #0171C7;
}

.deuxiemePos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.deuxieme_titre_texte {
    margin-top: 70px;
    width: 400px;
}

.deuxieme_titre_texte h1{
    font-size: 32px;
    line-height: 38px;
    
}

.deuxieme_titre_texte p{
    font-size: 18px;
    line-height: 27px;
}

.deuxieme_titre_image {
    margin-top: 0;
    margin-right: 0;
    width: 500px; 
}

.deuxieme_titre_image img {
    margin-top:0;
    margin-left: 0;
    width : 500px;
    height: 500px;
}

/* SLIDER */

.slider{
    margin:20px 0px;
    width:100%;
    height:510px;
    position:relative;
    overflow:hidden;
    margin-bottom: 100px;
}

.sliderContainer{
    position:absolute;
    top : 0px;
    transition:ease-in 0.5s all;
    will-change: left;
}

.sliderContainer div{
    position: relative;
}
.sliderContainer div div{
    position: absolute;
    width: 280px;
    right: 10%;
    top: 5%;
}


.left{
    text-decoration: none;
    border: none;
    position: absolute;
    left: 25px;
    top: 50%;
    font-size: 20px;
    color: black;
    background-color: none;
    background-color: rgba(255, 255, 255, 0);
}
.right{
    text-decoration: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 25px;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    
}

.pagination{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    right: 0px;
    bottom: 0px;
    list-style: none;
}

.point{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border-color: #333333;
    margin: 0px 5px;
    background-color: #BCBCBC;
}
.point.current{
    background: #333333;
}
/* SLIDER */

/* VIDEO */

section > h2 {
    padding: 50px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
}

.video {
    margin-bottom: 50px;
}





/* ARTICLE */

.minititle{
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-content:flex-start;
    margin-top: 6%;  
}

.minititle .info {
    width: 30%;
    cursor: pointer;
    
}


.minititle .info h3::after {
    content:"v";
    float: right;
    transition: all .3s linear;
    width:13px;
    height:19px;
    
    
}

.info .is_open h3::after{
	transform: rotate(180deg);
}

.minititle .info p{
    overflow: hidden;
    color: #1d1d11b0;
    transition: all .3s;
}

.audio h2 {
    width: 500px;
    font-size: 32px;
    line-height: 48px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.icon_audio {
    display: flex;
    justify-content: center;

}
.icon_audio img {
    margin: 0 5px;
    margin-bottom: 100px;
}

.assistant {
    display: flex;
    justify-content: space-between;
}
.assistant .assitant_image img{
    margin-top: 0px;
    margin-right: 0;
    
    
}

.assistant .assistant_text {
    margin-top: 35px;
    
    width: 370px;
}

.assistant .assistant_text h2 {
    font-size: 22px;
    line-height: 33px;
    color: black;
}

.assistant .assistant_text p {
    font-size: 15px;
    line-height: 22.5px;
    color: #707070;
}
