body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "Arial", sans-serif;
    font-size: 16px;
    color: #444;
    max-width: 100%;
    overflow-x: hidden;
}


  /*MAIN*/

main img{
  height: 200px;
  width: 180px;
}
.change{
  height:200px;
  width: 200px;
}

.container{
  width:960px;
  margin:0 auto;
}

div.title{
  color: #1d1d1b;
  display:flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 30px;
}

/*COLOR SELECTION*/
.color_selector_display{
  margin-left: 270px;
  margin-right: 270px;
  display: flex;
  flex-direction: column;
}
.color_selector{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.color_selector .color{
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
}
.color_selector .color.active .button{
  background: #0171C7;
}
.color_selector div .button{
  margin: 10px auto;
}

.button{
  background: lightGray;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.prix{
  display: flex;
  justify-content: center;
  font-size: 230%;
  font-weight: bold;
  color: #1d1d1b;

}
.darkGray{
  background: #1d1d1b;
  width: 8px;
  height: 8px;
  border: solid 4px gray;
}
/*Image bar*/
#hpPres{
  margin-left: 170px;
  margin-right: 170px;
  display: flex;
  margin-bottom: 30px;
}
#hpPres img{
  width: 90px;
  height: 90px;
  flex-direction: row;
  flex-wrap: wrap;
  margin:5px;
  transition: transform 1s;
}
#hpPres img:hover{
  transform:scale(2);
  z-index: 10;
    transition: all .0,5s;
}

div.music h2{
  color: #1d1d1b;
  font-size: 40px;
  margin-bottom: 10px;
}

div.music{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 8%;
}
.moving_bar{
  position: relative;

}

#musicExample1 img{
  width: 90px;
  height: 90px;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0;
}

#musicExample1{
  position: relative;
  animation-name: first_moving_bar;
  animation-duration: 13s;
  animation-iteration-count: infinite;
}

@keyframes first_moving_bar {
  0%   {left:0px; top:0px;}
  50%  {left:100px; top:0px;}
  100% {left:0px; top:0px;}
}

#musicExample2 img{
  width: 90px;
  height: 90px;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0;
}

#musicExample2{
  position: relative;
  margin-bottom: 50px;
  animation-name: second_moving_bar;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes second_moving_bar {
  0%   {left:0px; top:0px;}
  50%  {left:100px; top:0px;}
  100% {left:0px; top:0px;}
}

#hp_overmusic{
  position: absolute;
  margin: auto;
  z-index: 6;
}


.audio{
  
  color:#1d1d1b;
}
.audio h2 {
  width: 500px;
  font-size: 30px;
  line-height: 48px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.icon_audio {
  display: flex;
  justify-content: center;
}
.icon_audio img {
  width: 76px;
  height: 76px;
  margin: 0 5px;
 
}
.ultimate_music{
  text-align: center;
  font-size: 20px;
  color: #1d1d1b;
  margin-left: 10%;
  margin-right: 10%;
}

.buttonn{
    color: #1d1d1b;
    font-size: 150%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}
.container{
    width: 980px;
    margin: 0 auto;
}
.imghomepod{
    width: 100%;

}
.modele{
    display:flex;
    flex-direction:column;
}
.img{
    display: flex;
    flex-direction: row;
    color: black;
   justify-content: space-evenly;
}
.img p{
    text-align: center;
}
.minititle{
    color: #1d1d1b;
    display: flex;
    
    flex-wrap:wrap;
    align-content:flex-start;
    margin-top: 6%;
    text-align: center;
}
.imgboite{
  width: auto;
  margin-left: 65%;
  margin-top: 20%;
}
.minititle .info {
    width: 33%;
}
.minititle .info h2{
  cursor: pointer;
}
.minititle .info p{
    overflow: hidden;
    transition: all .3s;
}
.boite{
    color: white;
    margin-left: 30%;
    font-size: 140%;
    margin-right: 20%;
}
.titlecof{
    color:white;
    margin-top: 45%;
    font-size: 220%;
    font-weight: bold;
}
.titlecoff{
  color: #1d1d1b;
  margin-top: 25%;
  font-size: 220%;
  font-weight: bold;
  margin-left: 24%;
  width: 100px;
}
.sstitlecoff{
  color: #1d1d1b;
  font-size: 220%;
  font-weight: bold;
  margin-right: 28%;
  width: 100px;
  margin-top: 25%;
}
.titlecolo {
  width: 500px;
  margin-top: 5%;
  margin: 0 auto;
  text-align: left;

}
.imgecolo{
  margin-top:15%;
  height: auto;
  width: auto;
}

.txtcolo{
  margin-top: 50%;
  display: flex;
  justify-content: space-between;
}

.textcoffimg{
    position: relative;
   
}
.textcoffimg::before{
  content: '';
  background: url(../images/hompod_siri.png)no-repeat;
  background-position: center;
  position: absolute;
  top:0;
  height:500px;
  width: auto;
  bottom:0;
  left:-100%;
  right:-100%;

}
.textcoff{
    position: absolute;
    margin-left: 20%;
}

/*
* -------------CSS POPUP---------------
*/
.popup{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 100%;
  color: #1d1d1b;
  position: fixed;
  background: white;
  z-index:10;
  top: -100%;left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all .3s;
  opacity: 0;
  padding: 50px 25px;
  border: 1px solid #CCC;
  border-radius: 4px;

}
#closePopup{
  color: #1d1d1b;
  margin-top: 4%;
  display: flex;
  justify-content: center;
}
.popup.active{
  opacity: 1;
  top: 50%; left: 50%;
}
.redirection{
  display: flex;
  justify-content: center;
}
#buyButton{
  color: #1d1d1b;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #1d1d1b;
  padding : 10px;
}
.popup p a{
  color: #1d1d1b;
}

.popup h4{
  font-weight: bold;
  display: flex;
  justify-content: center;
}
