@media screen and (min-width:768px) and (max-width:1024px)
{
  .container{
    width:768px;
  }
  .title{
    margin-right: 22%;
  }
  .color_selector_display{
    margin-right: 50%;
  }
}
@media screen and (min-width:1024px) and (max-width:1366px)
  {
    .sstitlecoff{
      margin-left: 14%;
    }
    
    .prix{
      margin-right: 20%;
    }
    #buyButton{
      margin-right: 20%;
    }
    #hpPres{
     margin-left: 85px;
    }

  }

@media screen and (min-width:600px) and (max-width:768px){
  .container{
    width:100%;
  }

  div.title{
    width: 70%;
  }

  .color_selector_display{
    width: 40%;
  }

  .prix{
    width: 70%;
  }
  .buttonn{
    width: 70%;
  }

  #hpPres{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }
  #hpPres img{
    width: 60px;
    height: 60px;
  }

  .minititle{
    display: flex;
    flex-direction: column;
  }

  .txtcolo{
    width: 70%;
  }
  .titlecolo{
    display: flex;
    justify-content: space-between;
  }

  .imgecolo{
    display: none;
  }
}


@media screen and (max-width:600px){
  .container{
    width:100%;
  }

  main.container{
    width:100%;
  }

  div.title{
    width: 50%;
    font-size: 20px;
  }

  .color_selector_display{
    margin-left: 5px;
  }

  .prix{
    width: 50%;
    font-size: 25px;
  }

  .buttonn{
    width: 50%;
  }

  #hpPres{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    margin-bottom: 20px;
  }
  #hpPres img{
    width: 60px;
    height: 60px;
  }

  .minititle{
    display: flex;
    flex-direction: column;
  }

  .txtcolo{
    width: 50%;
  }
  .titlecolo{
    display: flex;
    justify-content: space-between;
  }
  .titlecoff{
    margin-right: 32px;
  }
  .sstitlecoff{
    margin-left: 32px;
  }
  .imgecolo{
    display: none;
  }
}